// Custom Bootstrap variable overrides go first
@import 'lib/boostrap/custom.scss';

// Then include the following
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// And lastly define any of your own custom scss
// @import 'app/bs-custom.scss';

// custom variables
$navbar-height: 64px;

// navbar
.navbar-h {
  height: $navbar-height;
}

.navbar-collapse {
  flex: none;
}

// sidebar
.cb-sidebar {
  width: 100%;
  position: absolute;
  top: $navbar-height;

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    width: 18rem;
    position: static;
  }
}

// link
a.active {
  color: $primary;
  font-weight: 500;

  // fontawesome theme
  > .fa-gru {
    --fa-secondary-opacity: 0.4;
    --fa-primary-color: #6610f2;
    --fa-secondary-color: #6610f2;
  }

  &:hover {
    color: darken($primary, 15%);
  }
}

// custom utilities
.of-y-auto {
  overflow-y: auto;
}

.z-dropdown {
  z-index: 1000;
}

.z-popover {
  z-index: 1060;
}

.z-tooltip {
  z-index: 1070;
}

.-z-1 {
  z-index: -1;
}
