// Custom Bootstrap variable overrides go first
@import 'lib/bootstrap/custom.scss';

// Then include the following
// @import '~bootstrap/scss/bootstrap.scss';

// requirement
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// remove unwanted maps
$form-validation-states: map-remove($form-validation-states, 'valid');

// more spacing options
$spacers: map-remove($spacers, '3');
$spacers: map-remove($spacers, '4');
$spacers: map-remove($spacers, '5');

$custom-spacers: (
  '3': ($spacer * .75),
  '4': ($spacer * 1),
  '5': ($spacer * 1.25),
  '6': ($spacer * 1.5),
  '7': ($spacer * 1.75),
  '8': ($spacer * 2),
  '9': ($spacer * 2.25),
  '10': ($spacer * 2.5),
  '11': ($spacer * 2.75),
  '12': ($spacer * 3),
);

$spacers: map-merge($spacers, $custom-spacers);

// optional
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/jumbotron';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';
@import '~bootstrap-vue/src/index.scss';

// And lastly define any of your own custom scss
// @import 'app/bs-custom.scss';

// custom variables
$navbar-height: 64px;

// navbar
.navbar-h {
  height: $navbar-height;
}

.navbar-collapse {
  flex: none;
}

// sidebar
.cb-sidebar {
  width: 100%;
  position: absolute;
  top: $navbar-height;

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    width: 18rem;
    position: static;
  }
}

// link
a.active {
  color: $primary;
  font-weight: 500;

  // fontawesome theme
  > .fa-gru {
    --fa-secondary-opacity: 0.4;
    --fa-primary-color: #6610f2;
    --fa-secondary-color: #6610f2;
  }

  &:hover {
    color: darken($primary, 15%);
  }
}

// table
.table-responsive > .table {
  th,
  td {
    vertical-align: middle;
    border-top: 0;
    border-bottom: 1px solid #dee2e6 !important;
    white-space: nowrap;

  //   &.fit-content {
  //     width: 1%;
  //     white-space: nowrap;
  //   }
  }

  th {
    color: $secondary;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  th:first-child,
  td:first-child {
    padding-left: 1.25rem;
  }

  th:last-child,
  td:last-child {
    padding-right: 1.25rem;
  }
}

.table-hover tbody tr:hover {
  cursor: pointer;
}

// form
label {
  cursor: pointer;
}

.form-group {
  .input-inset {
    position: absolute;
    transform: translateY(35%);

    &.lg {
      transform: translateY(50%);
    }

    &.right {
      right: 1rem;
    }

    + input.form-control-lg {
      padding-right: 2.5rem;
    }
  }
}

// custom utilities
.of-y-auto {
  overflow-y: auto;
}

.z-dropdown {
  z-index: 1000;
}

.z-popover {
  z-index: 1060;
}

.z-tooltip {
  z-index: 1070;
}

.z-alert {
  z-index: 1080;
}

.-z-1 {
  z-index: -1;
}
